@model Apollo.Models.Apollo.User
@{
    ViewBag.Title = "Account";
}

<div class="account form-horizontal">
    <div class="panel panel-index text-center">
        <h3 class="panel-heading">Change Email</h3>
        <div class="panel-body">
            <h4 id="email">@Model.Email</h4>
            <input class="form-control" id="emailInput" type="email" name="new-email" placeholder="new email" />
            <input class="btn btn-info" id="emailSubmit" type="submit" value="Change Email" />
        </div>
    </div>

    <div class="panel panel-index text-center">
        <h3 class="panel-heading">Change Password</h3>
        <div class="panel-body">
            <input class="form-control" id="oldPassInput" type="password" name="old-pass" placeholder="Old Password" />
            <input class="form-control" id="newPassInput" type="password" name="new-pass" placeholder="New Password" />
            <input class="btn btn-info" id="passwordSubmit" type="submit" value="Change Password" />
        </div>
    </div>

    <div id="status" class="text-info text-center">
    </div>

    <div class="form-group text-center">
        @Html.ActionLink("Logout", "Logout", "Apollo", new { area = "" }, new { @class = "btn btn-danger" })
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#emailSubmit").on("click", function () {
                var email = $("#emailInput").val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangeEmail", "Apollo")",
                    data: { newEmail: email },
                    dataType: 'text',
                    success: function (data) {
                        if (data == "True") {
                            $("#status").html("<p>Email changed succesfully.</p>");
                            $("#email").html(email);
                        } else {
                            $("#status").html("<p>Error changing email.</p>");
                        }
                    },
                    error: function (data) {
                        $("#status").html("<p>Error changing email.</p>");
                    }
                });
            });

            $("#passwordSubmit").on("click", function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePassword", "Apollo")",
                    data: { oldPass: $("#oldPassInput").val(), newPass: $("#newPassInput").val() },
                    dataType: 'text',
                    success: function (data) {
                        if (data == "True") {
                            $("#status").html("<p>Password changed succesfully.</p>");
                        } else {
                            $("#status").html("<p>Error changing password.</p>");
                        }
                    },
                    error: function(data) {
                        $("#status").html("<p>Error changing password.</p>");
                    }
                });
            });
        });
    </script>
}
