/*#region General*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer > p {
    margin-left: 15px;
}

.center {
    margin: auto;
    text-align: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#endregion*/

/*#region NavBar*/

@media (min-width: 768px) {
    .container > .navbar-header {
        margin-left: 15%;
    }

    .navbar-nav {
        float: right;
        margin-right: 10%;
    }
}

@media (max-width: 768px) {
    .container > .navbar-header {
        margin: auto;
    }
}

.navbar {
    margin: 0;
}

.navbar-brand {
    font-size: 30px;
}

.navbar-link {
    font-size: 16px;
    float: right;
}

/*#endregion*/

/*#region Index*/

.panel-primary {
    background-color: #ecedef;
    height: 100px;
    margin: 0;
}

    .panel-primary > .panel-heading {
        width: 85%;
        margin: 0 auto;
        background: linear-gradient(to right, #ecedef, #6dbb89, #ecedef);
        border: none;
        font-family: Circular, Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #fff;
    }

    #index > a:hover {
        text-decoration: none;
    }

.panel-info {
    margin: 20px auto;
    width: 40%;
    background-color: #353535;
    color: #fff;
    font-size: 16px;
}

    .panel-info > .panel-heading {
        background: linear-gradient(to right, #353535, #ecedef, #353535);
        width: 90%;
        margin: 12px auto;
        color: #353535;
        font-weight: bold;
        border-radius: 0;
        border-style: none;
        outline: none;
    }

    .panel-info > .panel-body > a {
        color: #75c1ed;
    }

.panel {
    border: none;
    padding: 0;
}

/*#endregion*/





.btn {
    font-size: medium;
}

.btn-primary,
.btn-primary.active,
.btn-primary.disabled {
    background-color: #6dbb89;
    border-radius: 20px;
    border: none;
}
    .btn-primary:hover {
        background-color: #17bf53;
        border-color: #1ED760;
    }

.progress {
    height: 25px;
}

.progress-bar {
    background-color: #1ED760;
}



td {
    min-width: 110px;
}

.fa {
    font-size: 15px;
}

.btn-discover {
    width: 45%;
    margin: 10px 2px;
}

.text-title {
    font-size: medium;
}

.panel-default {
    margin: 14px 0;
    height: 320px;
    width: 200px;
}

    .panel-default > .panel-heading {
        min-height: 22%;
    }

    .panel-default > .panel-body {
        min-height: 78%;
    }

footer {
    background-color: #e0e0e0;
}

#login {
    background-color: #cee5d6;
    margin: 0;
    padding: 35px;
}

#register {
    background-color: #cedbe5;
    margin: 0;
    padding: 35px;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*#region Albums*/

.img-album, .get-next, .get-prev {
    display: inline-block;
    position: relative;
}

.img-album {
    background-color: lightslategray;
    border: 2px ridge dimgray;
}

.get-next, .get-prev {
    height: 250px;
    margin: auto 45px auto 10px;
    z-index: 8;
}

.selected {
    height: 250px;
    width: 250px;
    margin: auto;
    z-index: 10;
}

.next {
    height: 225px;
    width: 225px;
    margin-bottom: 12.5px;
    margin-left: -150px;
    z-index: 9;
}

.prev {
    height: 225px;
    width: 225px;
    margin-bottom: 12.5px;
    margin-right: -150px;
    z-index: 9;
}

.nnext {
    height: 200px;
    width: 200px;
    margin-bottom: 25px;
    margin-left: -175px;
    z-index: 8;
}

.pprev {
    height: 200px;
    width: 200px;
    margin-bottom: 25px;
    margin-right: -175px;
    z-index: 8;
}

.btn-albums {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.btn-remove {
    text-align: center;
    font-size: large;
    height: 50px;
    width: 50px;
    background-color: #ce2e2e;
    border-radius: 25px;
    border: 2px solid dimgray;
}

.panel-liked, .panel-passed {
    padding: 25px 0;
}

.img-search {
    height: 300px;
    width: 300px;
}

.selector {
    float: left;
}

.albums input {
    top: 15%;
    left: 10%;
}

.albums iframe {
    margin: 5px 0 5px 4px;
}

/*#endregion*/




/*#region Discover*/

.img-selectable {
    padding: 8px;
}

.discover iframe {
    height: 100%
}

.discover .panel-player {
    width: 315px;
    height: 685px;
    padding-right: 15px;
    margin-top: 10px;
    display: inline-block;
}

.discover .panel-albums {
    width: 600px;
    height: 700px;
    display: inline-block;
}

.btn-like {
    background-color: #6dbb89;
    color: #1e1e1e;
}
    .btn-like:hover {
        background-color: #17bf53;
        color: #1e1e1e;
    }

.btn-pass {
    background-color: #e15c5c;
    color: #1e1e1e;
}
    .btn-pass:hover {
        background-color: #e54a4a;
        color: #1e1e1e;
    }

/*#endregion*/

